body{
    font-family: Arial, sans-serif;
    padding: 20px;
}
button {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #AC9EFF;
    background-color: #AC9EFF;
    color: white;
    border-radius: 4px; 
}

button:hover {
    background-color: #928360;
}
.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 15px 0;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}
.post h2 { 
    margin-top: 0; 
    color: #333;
    font-size: 1.3em; 
}
.post p {
    color: #666;
    line-height: 1.6;
}